.container {
  height: 90vh;
  width: 40vw;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid rgb(219, 213, 213);
}

header {
  padding: 50px 50px 0px 50px;
  color: rgb(116, 111, 111);
}

.question-top-bar {
  height: 15px;
}

#question-top-bar-width {
  height: 15px;
}

main {
  padding: 25px 50px 0px 50px;
}

.answer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 20%);
}

footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 80%;
}

.score {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.score-bar {
  height: 27px;
  border: 2px solid black;
  border-radius: 5px;
}

#score-bar-width {
  height: 23px;
  border-radius: 4px;
}

#max-score-bar-width {
  height: 23px;
  border-radius: 4px;
}

#min-score-bar-width {
  height: 23px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 90vw;
  }

  .options {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
  }

  #totalQuestion {
    font-size: 24px;
  }

  .category {
    font-size: 14px;
  }

  #question {
    font-size: 16px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 90vw;
  }

  .options {
    margin-top: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80vw;
  }

  .options {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    width: 70vw;
  }
}